/*
    Styles for search results tables in classic mode
*/

table.scpbcfw-result-table {
  border-collapse: collapse;
  width: 99%;
  margin: 0px auto;
  table-layout: auto;

  tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
  }

  th, td {
    border: 2px solid black;
    padding: 5px;
  }

  th {
    background-color: rgb(128, 128, 128);
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
  }

  td.scpbcfw-result-table-detail-numeric {
    text-align: center;
  }
}

div.st_iv-popup {
  background-color: white;
  opacity: 0.90;
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px;
}
