/* The css here are for templates in Backbone with Bootstrap mode.                                                                 */
/* This is the "css/user-styles.css" file of "http://magentacuda.com/demo-of-search-widget-and-wp-rest-server-for-toolset-types/". */

div#st_iv-bootstrap1 div#st_iv-bootstrap2 div.st_iv-table-base{
    overflow-x:auto;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base{
    table-layout:auto;
    border:2px solid black;
    border-collapse:collapse;
    width:1000px;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base th, div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base td{
    padding:0 10px;
    border:2px solid black;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base th{
    background-color:#aaa;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base td.st_iv-table-cell-right-align{
    text-align:right;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base.st_iv-table-mountain{
    width:1200px;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base.st_iv-table-lake{
    width:2000px;
}

div#st_iv-bootstrap1 div#st_iv-bootstrap2 table.st_iv-table-base.st_iv-table-country{
    width:1500px;
}
